sqlalchemy
requests
python-dotenv==1.0.1
pydantic
psycopg2-binary==2.9.10
uvicorn==0.34.0
google-cloud-storage==2.19.0
fastapi==0.115.6
python-multipart==0.0.20
mypy==1.14.0
fastapi
sqlalchemy==2.0.36
python-dotenv
pydantic==2.10.4
google-ads==22.0.0