uvicorn==0.34.0
google-cloud-storage==2.19.0
python-dotenv
requests
psycopg2-binary==2.9.10
pydantic==2.10.4
google-ads==22.0.0
fastapi
python-multipart==0.0.20
sqlalchemy
python-dotenv==1.0.1
pydantic
fastapi==0.115.6
mypy==1.14.0
sqlalchemy==2.0.36